<main>
  <div class="container">
    <h1>
      <div class="title-container">
        Password Generator
        <mat-icon>security</mat-icon>
      </div>
    </h1>
    <form>
      <label>Length</label>
      <br />
      <mat-slider
        matInput
        min="0"
        max="50"
        step="1"
        (input)="onChangeLength($event.target!)"
        discrete
        style="width: 100%"
      >
        <input matSliderThumb />
      </mat-slider>
      <div style="line-height: 2; margin-block: 10px 20px">
        <section>
          <mat-checkbox (change)="onChangeUseLettersUpper()"
            >Use Uppercase Letters</mat-checkbox
          >
        </section>
        <section>
          <mat-checkbox (change)="onChangeUseLettersLower()"
            >Use Lowercase Letters</mat-checkbox
          >
        </section>
        <section>
          <mat-checkbox (change)="onChangeUseNumbers()"
            >Use Numbers</mat-checkbox
          >
        </section>
        <section>
          <mat-checkbox (change)="onChangeUseSymbols()"
            >Use Symbols</mat-checkbox
          >
        </section>
      </div>
      <div class="generate-button">
        <button
          mat-raised-button
          color="primary"
          (click)="this.onButtonClick()"
          type="button"
          [disabled]="
            !(
              length &&
              (useLettersLower || useLettersUpper || useNumbers || useSymbols)
            )
          "
        >
          Generate
        </button>
      </div>
      <div class="password" *ngIf="password">
        <label>Your Password</label>
        <button
          mat-button
          type="button"
          color="primary"
          (click)="this.copyToClipboard()"
        >
          {{ this?.password?.substring(0, 15) }}
          {{ this.password && this.password.length > 15 ? "..." : "" }}
          <mat-icon>content_copy</mat-icon>
        </button>
      </div>
    </form>
  </div>
</main>
